@import './sidebar.scss';
@import '../assets/icon/iconfont.css';

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

.app-container {
  padding: 20px;
}


