.sidebar-container {
  height: 100%;
}

.app-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  &.mobile {
    &.openSidebar {
      .sidebar-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1001;
        width: 60vw;
      }
    }
    &.hideSidebar {
      .sidebar-container {
        display: none;
      }
    }
  }
  &.desktop {
    &.openSidebar {
      .sidebar-container {
        width: 16vw;
      }
    }
    &.hideSidebar {
      .sidebar-container {
        display: none;
      }
    }
  }
}